/* You can add global styles to this file, and also import other style files */
@import "normalize.css";

html,
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: 1 !important;
}

.main {
    max-width: 700px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
}

.content h1 {
    margin-top: 1.75rem;
}

.content p {
    margin-top: 1.5rem;
}

@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        width: max-content;
    }
}